/*General*/

@import url('https://fonts.googleapis.com/css?family=Revalia|Roboto:400,500|Jura:300,400,500,700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: #ffd86845;
}

a {
    text-decoration: none;
    color: inherit;

}

/* Header */

.title-shadow {
    text-shadow: -1px 3px 8px #000000;
}

.text-shadow {
    text-shadow: -1px 1px 3px #000000;
}

.no-side-padding {
    padding-left: 0;
    padding-right: 0;
}

.main-screen-container {
    height: 100vh;
    max-width: 100vw;
    padding: 1rem;
    background-image: url("../images/mars-athmosphere.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 1px 4px 9px 0px black;
}

.social-row {
    padding: 1rem;
}

.social-col {
    flex-direction: row;
    display: flex;
    justify-content: center;
}

.round-border {
    border-radius: 50%;
    height: 2rem;
    border: 2px solid white;
    width: 2rem;
    justify-content: center;
    display: flex;
    line-height: 1.8rem;
    color: white;
    margin: 0 0.5rem;
    font-weight: 900;
}

.main-text-light {
    color: white;
    font-family: "Jura", "Revalia";
    font-weight: 600;
    font-size: 1.3rem;
}

.main-title {
    font-family: "Revalia", "Jura";
    font-size: 3rem;
    color: white;
    padding: 0 0 0.5rem;
}

.hr-divider {
    border-top: 3px solid rgb(255, 255, 255);
    width: 80vw;
    box-shadow: -2px 2px 6px 0px black;
}

.launch-button-div {
    margin-bottom: 1rem;
}

.launch-button-border {
    height: 9.5rem;
    width: 9.5rem;
    background-color: #eaeaea;
    padding: 0.75rem;
    border-radius: 50%;
    box-shadow: inset 0px 0px 6px 6px #676767;
    margin: auto;
}

.launch-button {
    background-color: #d40101;
    color: white;
    border: 0px solid white;
    font-size: 1.5rem;
    font-family: "Jura", "Revalia";
    font-weight: 700;
    /*text-shadow: 0px 0px 5px #ffffffcf;*/
    padding: 0.5rem 1rem 1rem;
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    box-shadow: inset 3px -4px 20px 7px #842600;
}

.launch-button-animation {
    animation-name: launchButtonAnimation;
    animation-duration: 2s;
    animation-delay: .3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.shake-animation {
    animation-name: shake;
    animation-duration: 2s;
    animation-delay: .3s;
    animation-timing-function: linear;
    animation-direction: alternate;
}

.btn.launch-button:hover {
    color: white;
}

.btn.launch-button:focus {
    box-shadow: inset 0 0 3px 1px black;
}



/* Weather */

.weather-container {
    padding: 2rem 0;
    height: 45vh;
}


.carousel-img {
    height: 45vh;
}

.carousel-caption {
    color: white;
    font-family: "Jura";
    font-weight: 700;
    text-align: center;
    padding: 1rem;
    right:0;
    bottom: 0;
    left: 0;
    /*width: 100vw;*/
    background-color: #0000003d;
}

.weather-label {
    font-size: 1rem;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

.weather-label p {
    margin: 0;
}

.weather-main-number {
    padding: 0;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
}

.weather-main-number h5 {
    line-height: 1rem;
    display: flex;
    margin: 0 auto;
}

.weather-number {
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 700;
    margin: 0;
}

.weather-secondary-numbers {
    padding: 0;
}

.weather-max-min {
    display: flex;
    justify-content: space-evenly;
}

.weather-max-min h6 {
    margin: 0;
}

.weather-number-small {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0;
}

.wind-direction {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.wind-direction h5 {
    margin: 0;
}


/* Launch button bg change */

@keyframes launchButtonAnimation {
    from {
        background-color: #bf0000;
    }
    to {
        background-color: #fa1800;
    }
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    5% {
        transform: translate(-1px, -2px) rotate(-0.1deg);
    }

    10% {
        transform: translate(-3px, 0px) rotate(0.1deg);
    }

    15% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    20% {
        transform: translate(1px, -1px) rotate(0.1deg);
    }

    25% {
        transform: translate(-1px, 2px) rotate(-0.1deg);
    }

    30% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    35% {
        transform: translate(3px, 1px) rotate(-0.1deg);
    }

    40% {
        transform: translate(-1px, -1px) rotate(0.1deg);
    }

    45% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    50% {
        transform: translate(1px, -2px) rotate(-0.1deg);
    }

    55% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    60% {
        transform: translate(-1px, -2px) rotate(-0.1deg);
    }

    65% {
        transform: translate(-3px, 0px) rotate(0.1deg);
    }

    70% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    75% {
        transform: translate(1px, -1px) rotate(0.1deg);
    }

    80% {
        transform: translate(-1px, 2px) rotate(-0.1deg);
    }

    85% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    90% {
        transform: translate(3px, 1px) rotate(-0.1deg);
    }

    95% {
        transform: translate(-1px, -1px) rotate(0.1deg);
    }

    100% {
        transform: translate(1px, 2px) rotate(0deg);
    }
}
