/*General*/

@import url('https://fonts.googleapis.com/css?family=Revalia|Roboto:400,500|Jura:300,400,500,700&display=swap');

body {
    background-color: #ffd86845;
}

.header-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 90vh;
    z-index: -1;
}

a {
    text-decoration: none;
    color: inherit;

}

/*.bg-blue {*/

/*    background-color: #01479e;*/

/*}*/

/*.callout {*/

/*    background-color: #e9ecefb0;*/

/*    height: 50vh;*/

/*}*/

.title-shadow {
    text-shadow: -1px 3px 8px #000000;
}

.text-shadow {
    text-shadow: -1px 1px 3px #000000;
}

.no-side-padding {
    padding-left: 0;
    padding-right: 0;
}

.main-screen-container {
    height: 90vh;
    padding: 1rem;
    /*background-image: url("mars.png");*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*background-color: black;*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.social-row {
    padding: 1rem;
}

.social-col {
    flex-direction: row;
    display: flex;
    justify-content: center;
}

.round-border {
    border-radius: 50%;
    height: 2rem;
    border: 2px solid white;
    width: 2rem;
    justify-content: center;
    display: flex;
    line-height: 1.8rem;
    color: white;
    margin: 0 0.5rem;
    font-weight: 900;
}

.main-text-light {
    color: white;
    font-family: "Jura", "Revalia";
    font-weight: 600;
    font-size: 1.3rem;
}

.main-title {
    font-family: "Revalia", "Jura";
    font-size: 3rem;
    color: white;
    padding: 0 0 0.5rem;
}

.hr-divider {
    border-top: 3px solid rgb(255, 255, 255);
    width: 80vw;
    box-shadow: -2px 2px 6px 0px black;
}

.launch-button-div {
    height: 9.5rem;
    width: 9.5rem;
    background-color: #eaeaea;
    padding: 0.75rem;
    border-radius: 50%;
    box-shadow: inset 0px 0px 6px 6px #676767;
    margin: auto;
}

.launch-button {
    background-color: #d40101;
    color: white;
    border: 0px solid white;
    font-size: 1.5rem;
    font-family: "Jura", "Revalia";
    font-weight: 700;
    /*text-shadow: 0px 0px 5px #ffffffcf;*/
    padding: 0.5rem 1rem 1rem;
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    box-shadow: inset 3px -4px 20px 7px #842600;
}

/*.main-subtitle {*/

/*    color: white;*/

/*    font-family: "Jura", "Revalia";*/

/*    font-weight: 500;*/

/*    font-size: 1.3rem;*/

/*}*/
